.body{
    padding: 10px;
    background: #fff;

}

.image{
    max-width: 100%;
    vertical-align: middle;
    height: auto;
    display: inline-block;
  

}

.grid-wrapper > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div .image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}
.grid-wrapper .wide{
    grid-column: span 2;
}

.grid-wrapper .tall{

    grid-row: span 2;
}

.grid-wrapper .big{

    grid-column: span 2;
    grid-row: span 2 ;
}

.h1{
    text-align: center;
    background: #1662a1;
    padding: 12px;
    border-radius: 16px;
    margin: auto;
    color: white;
    border: 2px solid black;

}

.image{
    transition: transform .3s ease-in-out;
}

.image:hover{
    transform: scale(1.05);
}